/* Minimal reset */
*,*::before,*::after{box-sizing:border-box}
html,body{height:100%}
body,h1,h2,h3,h4,p,ul,li,figure{margin:0}
ul{padding:0;list-style:none}
img{max-width:100%;display:block}
button,input,select,textarea{font:inherit}


